@using FastFoodWebApplication.Services;
@using System.Globalization;
@model FastFoodWebApplication.Models.Dish

@await Html.PartialAsync("_HeadPartial")

@{
    var image = "/images/f1.png";
    if (Model.DishImage != null)
    {
        string img = Model.DishImage.Replace("\\", "/");
        image = "/" + img;
    }
    decimal priceM = ViewBag.Price + 5000;
    decimal priceL = ViewBag.Price + 10000;
    decimal prieS = 0;
    var s = prieS.FormatNumber();
    var m = priceM.FormatNumber();
    var l = priceL.FormatNumber();
    var selectItems = new[]
    {
        new { Text = "S - 0 đ", Value = DishSize.S },
        new { Text = "M - " + m, Value = DishSize.M },
        new { Text = "L - " + l, Value = DishSize.L }
     };
    var selectSize = new SelectList(selectItems, "Value", "Text");
}


<div class="detail-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <img src="@image" style="width: 300px"></img>
            </div>
            <div class="col-6">
                <div class="container">
                    <h1>   @Html.DisplayFor(model => model.Name)</h1>
                </div>

                <div class="container">
                    <div class="row justify-content-start ">
                        <div class="col-2">
                            <h5>Price:</h5>
                        </div>
                        <div class="col-6">
                            @{
                               var price = string.Format(new CultureInfo("vi-VN"), "{0:C}", Model.DishPrice);
                            }
                            <h5 id="price_@Model.DishId" style="color: red">@price</h5>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h5>   @Html.DisplayFor(model => model.Description)</h5>
                </div>
                <div class ="container">
                    <form method="post" asp-controller="Carts" asp-action="Create">
                        <input type="hidden" name="DishID" value="@Model.DishId" />
                        <label for="size">Choose a size:</label>
                        <div class="size-options">
                            <input type="radio" name="size" id="sizeS" value="S" onchange="changeDishSize('@Model.DishId', this)" checked>
                            <label for="sizeS">S</label>

            <div class="form-group"></div>

        </div>
    </div>
</div>

                          <style>
        .header_section {
            background-color: black;
        }

        .detail-center {
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }
    </style>