@using System.Globalization;
@await Html.PartialAsync("_HeadPartial")


@{
    // Retrieve the Dishes from ViewData
    List<Dish> dishes = ViewData["Dishes"] as List<Dish>;
    List<DishType> types = ViewData["DishType"] as List<DishType>;
    List<Voucher> vouchers = ViewData["Code"] as List<Voucher>;
    int? active = ViewData["active"] as int?;
    var dishSizes = ViewBag.DishSizes as IEnumerable<DishSize>;
    var sizes = new[] { new { Value = "S", Text = "S" },
    new { Value = "M", Text = "M" }, new { Value = "L", Text = "L" } };

}
@* @foreach(var item in vouchers)
{
    <h1>@item.Name</h1>
    <h1>@item.Code</h1>
    <input type="hidden" value="@item.ID">

} *@
<section class="food_section ">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our Menu
            </h2>
        </div>

        <ul class="filters_menu">
            <a asp-action="Index" asp-controller="Menu" asp-route-DishTypeId="null">
            <li class="@((active == null) ? "active" : "")" data-filter="*">
                <span style="text-transform: uppercase; font-weight: bold;">All</span>
            </li></a>
            @foreach (var type in types)
            {
                <a asp-action="Index" asp-controller="Menu" asp-route-DishTypeId="@type.Id">
                <li class="@((type.Id == active) ? "active" : "")" data-filter=".@type.Name">
                    <span style="text-transform: uppercase; font-weight: bold;">@type.Name</span>
                </li>
                </a>
            }
        </ul>

        <div class="filters-content">
            <div class="row grid">
                @if (dishes != null && dishes.Any())
                {
                    @foreach (var dish in dishes)
                    {
                        var image = "/images/f1.png";
                        if (dish.DishImage != null)
                        {
                            string img = dish.DishImage.Replace("\\", "/");
                            image = "/" + img;
                        }
                        var price = string.Format(new CultureInfo("vi-VN"), "{0:C}", dish.DishPrice);
                        <div class="col-sm-6 col-lg-4 all @dish.DishType.Name">
                            <div class="box">
                                <div style="height:419px ">
                                    <a asp-action="Details" asp-route-id="@dish.DishId">
                                        <div class="img-box">
                                            @if (dish.DishStatus == 0)
                                            {
                                                <img src="/images/soldout.png" alt="Sold Out">

                                            }
                                            else
                                            {
                                                <img src="@image" alt="">
                                            }
                                        </div>
                                    </a> 
                                    <div class="detail-box">
                                        <h5>
                                            @dish.Name
                                        </h5>
                                        <p class="description">
                                            @dish.Description
                                            @* <a asp-controller="" class="read-more" onclick="toggleDescription(this)">Read more</a> *@
                                        </p>
                                    
                                        <form method="post" asp-controller="Carts" asp-action="Create">
                                            <input type="hidden" name="DishID" value="@dish.DishId" />
                                            <label for="size">Choose a size:</label>
                                            <select name="size" id="size" onchange="changeDishSize('@dish.DishId', this)">
                                                <option value="S">S</option>
                                                <option value="M">M</option>
                                                <option value="L">L</option>

                                            </select>
                                            <input type="hidden" id="basePrice_@dish.DishId" value="@price" />

                                            <div class="options">

                                                <h6 id="price_@dish.DishId">
                                                    @price
                                                </h6>
                                                @if (dish.DishStatus == 0)
                                                {
                                                    <button id="soldOutLink" style="border:none; background:none" class="cart-button">
                                                        <img src="/images/add-to-cart.png" alt="cart" style="width: 50px; height: 50px;">
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="submit" style="border:none; background:none" class="cart-button">
                                                        <img src="/images/add-to-cart.png" alt="cart" style="width: 50px; height: 50px;">
                                                    </button>
                                                }
                                                
                                            </div>
                                        </form>
                                    </div>

                                </div>
    
                            </div>
                        </div>

                    }
                }
                else
                {
                    <p>No dishes available.</p>
                }
            </div>
            @if (dishes.Count >= 6)
            {
                <div class="btn-box">
                    <a href="">
                        View More
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<style>
    .btn-secondary {
        color: white;
        background-color: black;
        border-color: black;
        margin-top: -2px;
    }

    .cart-button {
        position: absolute;
        bottom: 0; /* Adjust as needed */
        right: 0; /* Adjust as needed */
    }
</style>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="/js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="/js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->
<script>
    function toggleDescription(link) {
        var description = $(link).prev(".description");

        if (description.hasClass("collapsed")) {
            description.removeClass("collapsed");
            link.innerText = "Read less";
        } else {
            description.addClass("collapsed");
            link.innerText = "Read more";
        }
    }
    //     var newSize = $(ele).val();
    // }
    function changeDishSize(productId, ele) {
        var newSize = $(ele).val();
        var basePrice = parseFloat($('#basePrice_' + productId).val()); // Get the base price

        var updatedPrice = calculateUpdatedPrice(newSize, basePrice);
        
        
        var priceElement = $('#price_' + productId);
        priceElement.html(updatedPrice+".000 đ");

        // Set the value of the hidden input field temporarily
        $('#priceInput_' + productId).val(updatedPrice);
    }

    // Calculate the updated price based on the size
    function calculateUpdatedPrice(size, basePrice) {
        var sizePrice = 0;

        if (size === 'M') {
            sizePrice = basePrice * 0.4;
        } else if (size === 'L') {
            sizePrice = basePrice * 0.8;
        }

        return basePrice + sizePrice;
    }
    $('form').submit(function () {
        console.log('Form submitted!');
        // Add more console.log statements to display values
    });

    var soldOutLink = document.getElementById("soldOutLink");

    // Add a click event listener
    soldOutLink.addEventListener("click", function (event) {
        // Prevent the default behavior of the link
        event.preventDefault();

        // Perform any actions you want when the link is clicked
        alert("This dish is sold out!");
        // You can also perform additional actions here, such as updating the UI
        // to visually indicate that the dish is sold out.
    });

</script>
<style>
    .description {
        position: relative;
        overflow: hidden;
        max-height: 3.6em; /* (2 lines * line-height) + padding */
        line-height: 1.8em; /* Set line height based on your design */
    }

        .description.collapsed {
            max-height: 3.6em; /* Keep the same max-height when collapsed */
        }

    .read-more {
        color: #007bff;
        cursor: pointer;
        display: block;
        margin-top: 5px;
    }
</style>

